<a href="https://colab.research.google.com/github/aashika-s/pesuio-forecasting/blob/main/pesuio_AS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")

hello world

In [ ]:
n=int(input("Enter a number"))
if n%2==0:
  print("n is even")
else:
  print("n is odd")

Enter a number12
n is even

In [ ]:
# print all the vowels in the input string
text=input("Enter the input :") #abcde
vowels=['a','e','i','o','u']
for i in text:
   if i in vowels:
    print(i)

Enter the input :abcde
a
e

In [ ]:
#list,[1,1,3,4,4,4,6,7,8,8,8]
#tuple()
#1:2
#3:1
#4:3
#6:1
#7:1
#8:3
#dictionary(key:value pairs)
l=[1,1,3,4,4,4,6,7,8,8,8]
d={}
for i in l:
  if i in d:
    d[i]=d[i]+1
  else:
    d[i]=1
print(d)

{1: 2, 3: 1, 4: 3, 6: 1, 7: 1, 8: 3}

In [ ]:
str="betty bought some butter but the butter was bitter,so betty bought some better butter"
list=str.split(" ")
myset=set(list)
print(myset)

{'butter', 'was', 'but', 'bought', 'bitter,so', 'betty', 'the', 'some', 'better'}

In [ ]:
str="betty bought some butter but the butter was bitter, so betty bought some better butter"
list=str.split(" ")
d={}
for i in list:
  if i in d:
    d[i]=d[i]+1
  else:
    d[i]=1
print(d)

{'betty': 2, 'bought': 2, 'some': 2, 'butter': 3, 'but': 1, 'the': 1, 'was': 1, 'bitter,': 1, 'so': 1, 'better': 1}

In [ ]:
n=[1,2,3,4,5,6,7,8,9,10]
print(n)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
i=1
while i<=10:
 i=i+1
print(i)

11

In [ ]:
i=1
while i<10:
  i=i+1
  print(i)

2
3
4
5
6
7
8
9
10

In [ ]:
str="betty bought some butter but the butter was bitter, so betty bought some better butter"
list=str.split(" ")
d={}
for i in list:
  if i in d:
    d[i]=d[i]+1
  else:
    d[i]=1
    print(d)

{'betty': 1}
{'betty': 1, 'bought': 1}
{'betty': 1, 'bought': 1, 'some': 1}
{'betty': 1, 'bought': 1, 'some': 1, 'butter': 1}
{'betty': 1, 'bought': 1, 'some': 1, 'butter': 1, 'but': 1}
{'betty': 1, 'bought': 1, 'some': 1, 'butter': 1, 'but': 1, 'the': 1}
{'betty': 1, 'bought': 1, 'some': 1, 'butter': 2, 'but': 1, 'the': 1, 'was': 1}
{'betty': 1, 'bought': 1, 'some': 1, 'butter': 2, 'but': 1, 'the': 1, 'was': 1, 'bitter,': 1}
{'betty': 1, 'bought': 1, 'some': 1, 'butter': 2, 'but': 1, 'the': 1, 'was': 1, 'bitter,': 1, 'so': 1}
{'betty': 2, 'bought': 2, 'some': 2, 'butter': 2, 'but': 1, 'the': 1, 'was': 1, 'bitter,': 1, 'so': 1, 'better': 1}

In [ ]:
i=1
print(i)
while i<=21:
 i=i+2
 print(i)

1
3
5
7
9
11
13
15
17
19
21
23