<a href="https://colab.research.google.com/github/aashika-s/pesuio-forecasting/blob/main/pesuio_AS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")

hello world

In [ ]:
n=int(input("Enter a number"))
if n%2==0:
  print("n is even")
else:
  print("n is odd")

Enter a number12
n is even

In [ ]:
# print all the vowels in the input string
text=input("Enter the input :") #abcde
vowels=['a','e','i','o','u']
for i in text:
   if i in vowels:
    print(i)

Enter the input :abcde
a
e

In [ ]:
#list,[1,1,3,4,4,4,6,7,8,8,8]
#tuple()
#1:2
#3:1
#4:3
#6:1
#7:1
#8:3
#dictionary(key:value pairs)
l=[1,1,3,4,4,4,6,7,8,8,8]
d={}
for i in l:
  if i in d:
    d[i]=d[i]+1
  else:
    d[i]=1
print(d)

{1: 2, 3: 1, 4: 3, 6: 1, 7: 1, 8: 3}

In [ ]:
str="betty bought some butter but the butter was bitter,so betty bought some better butter"
list=str.split(" ")
myset=set(list)
print(myset)

{'butter', 'was', 'but', 'bought', 'bitter,so', 'betty', 'the', 'some', 'better'}

In [ ]:
str="betty bought some butter but the butter was bitter, so betty bought some better butter"
list=str.split(" ")
d={}
for i in list:
  if i in d:
    d[i]=d[i]+1
  else:
    d[i]=1
print(d)

{'betty': 2, 'bought': 2, 'some': 2, 'butter': 3, 'but': 1, 'the': 1, 'was': 1, 'bitter,': 1, 'so': 1, 'better': 1}

In [2]:
name1=input("Enter name1 :" )
age1=int(input("Enter age1 :"))
name2=input("Enter name2 :")
age2=int(input("Enter age2 :"))
print(name1,age1,name2,age2)

Enter name1 :sara
Enter age1 :20
Enter name2 :john
Enter age2 :23
sara 20 john 23

In [20]:
n=int(input("Enter number 1 :"))
m=int(input("Enter number 2 :"))
l= int(input("Enter number 3 :"))
mean = (n+m+l)/3
print(mean)

Enter number 1 :10
Enter number 2 :20
Enter number 3 :30
20.0

In [21]:
l=int(input("Enter length of rectanglular box :"))
b=int(input("Enter breadth of rectangular box :"))
h=int(input("Enter height of rectangular box :"))
volume= l*b*h
print(volume)

Enter length of rectanglular box :5
Enter breadth of rectangular box :4
Enter height of rectangular box :6
120

In [38]:
n=int(input("Enter a number :"))
sum=0
while n>0:
  sum=sum+n
  n=n-1
print("The sum of n natural numbers is :",sum)

Enter a number :20
The sum of n natural numbers is : 210

In [60]:
def factorial(x):
 if x==1:
  return 1
 else:
  return (x*factorial (x-1))

n=10
result = factorial(n)
print("factorial of",n,":",result)

factorial of 10 : 3628800

In [65]:
l=[10,20,30,10,40,20,40,50,60,30]
d={}
for i in l:
  if i in d:
    d[i]=d[i]+1
  else:
    d[i]=1
print(d)

{10: 2, 20: 2, 30: 2, 40: 2, 50: 1, 60: 1}

In [68]:
n=5
for i in range(0,n): #for rows
  for j in range(0,i+1): #for columns
   print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * * * *